<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Smart LABO</title>


    <link rel="stylesheet" href="{{ asset('site/assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/fontawsom-all.min.css')}}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/animate.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('site/assets/css/style.css')}}" />
</head>

<body>

<!-- ################# Header Starts Here#######################--->
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 left-item">
                    <ul>
                        <li><i class="fas fa-envelope-square"></i> contact@smart-it-partner.com</li>
                        <li><i class="fas fa-phone-square"></i> +216 52 05 65 75</li>
                    </ul>
                </div>
                <div class="col-lg-5 d-none d-lg-block right-item">
                    <ul>
                        <li><a><i class="fab fa-github"></i></a></li>
                        <li><a><i class="fab fa-google-plus-g"></i></a></li>
                        <li> <a><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a><i class="fab fa-twitter"></i></a></li>
                        <li> <a><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div id="nav-head" class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                    <!--<img src="{{ asset('site/smartlab.png') }}" alt="">-->
                    <a data-toggle="collapse" data-target="#menu" href="#menu" ><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                </div>
                <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                    <ul>
                        <li><a href="{{ path('site') }}">Accueil</a></li>
                        <li><a href="">À propos de nous</a></li>
                        <li><a href="">Services</a></li>

                        <li><a href="{{ path('site_creer_compte') }}" >S'inscrire</a></li>
                    </ul>
                </div>

                <div class="col-sm-2 d-none d-lg-block appoint">
                    <a href="{{ path('security_login') }}" class="btn btn-info">Se connecter</a>
                </div>
            </div>

        </div>
    </div>

</header>


<!-- ################# Slider Starts Here#######################--->

<div class="slider-detail">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item ">
                <img class="d-block w-100" src="{{ asset('site/assets/images/slider/slider_1.jpg')}}" alt="First slide">
                <div class="carousel-caption fvgb d-none d-md-block">
                    <h5 class="animated bounceInDown">Best Smart LAB</h5>
                    <p class="animated bounceInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque,  <br>
                        aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis <br>
                        sed sagittis at, sagittis quis neque. Praesent.</p>

                    <div class="row vbh">

                        <div class="btn btn-info animated bounceInUp"> Book an Appointment </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ asset('site/assets/images/slider/slider_3.jpg')}}" alt="Third slide">
                <div class="carousel-caption vdg-cur d-none d-md-block">
                    <h5 class="animated bounceInDown">Best Smart LAB</h5>
                    <p class="animated bounceInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque,  <br>
                        aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis <br>
                        sed sagittis at, sagittis quis neque. Praesent.</p>

                    <div class="row vbh">

                        <div class="btn btn-info animated bounceInUp"> Book an Appointment </div>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</div>

<!-- ################# Key Features Starts Here#######################--->

<section class="key-features">
    <div class="row no-margin">
        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-1">
                <i class="fas fa-hospital-alt"></i>
                <h5>Newest Technologies</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>

        <div class="col-lg-3 kvxol  col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <h5>Experianced Doctors</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>

        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-1">
                <i class="fas fa-briefcase-medical"></i>
                <h5>High Customer Satisfaction</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>

        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-capsules"></i>
                <h5>Pharma Pipeline</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>



    </div>
</section>

<!-- ################# With Medical Starts Here#######################--->

<section class="with-medical">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 txtr">
                <h4>Why choos Health Care with <br>
                    <span>Medical Hospital</span>
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer neque libero, pulvinar et elementum quis, facilisis eu ante. Mauris non placerat sapien. Pellentesque tempor arcu non odio scelerisque ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius eros consequat auctor gravida. Fusce tristique lacus at urna sollicitudin pulvinar. Suspendisse hendrerit ultrices mauris.</p>
                <p>Ut ultricies lacus a rutrum mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed porta dolor quis felis pulvinar dignissim. Etiam nisl ligula, ullamcorper non metus vitae, maximus efficitur mi. Vivamus ut ex ullamcorper, scelerisque lacus nec, commodo dui. Proin massa urna, volutpat vel augue eget, iaculis tristique dui. </p>
            </div>
            <div class="col-lg-6 col-md-12">
                <img src="{{ asset('site/assets/images/why.jpg')}}" alt="">
            </div>
        </div>
    </div>
</section>


<!-- ################# Our Departments Starts Here#######################--->


<section class="key-features department">
    <div class="container">
        <div class="inner-title">

            <h2>Our Key Features</h2>
            <p>Take a look at some of our key features</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-key">
                    <i class="fas fa-heartbeat"></i>
                    <h5>Cardiology</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-key">
                    <i class="fas fa-ribbon"></i>
                    <h5>Orthopaedic</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-key">
                    <i class="fab fa-monero"></i>
                    <h5>Neurologist</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-key">
                    <i class="fas fa-capsules"></i>
                    <h5>Pharma Pipeline</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-key">
                    <i class="fas fa-prescription-bottle-alt"></i>
                    <h5>Pharma Team</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                </div>
            </div>



            <div class="col-lg-4 col-md-6">
                <div class="single-key">
                    <i class="far fa-thumbs-up"></i>
                    <h5>High Quality treatments</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                </div>
            </div>
        </div>






    </div>

</section>


<!-- ################# Our Blog Starts Here#######################--->

<section class="our-blog">
    <div class="container">
        <div class="row session-title">
            <h2> Our Blog </h2>
            <p>Take a look at what people say about US </p>
        </div>
        <div class="blog-row row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <figure>
                        <img src="{{ asset('site/assets/images/blog/blog_01.jpg')}}" alt="">
                    </figure>
                    <div class="blog-detail">
                        <small>By Admin | August 10 2018</small>
                        <h4>Methods of Recuirtments</h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
                        <div class="link">
                            <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <figure>
                        <img src="{{ asset('site/assets/images/blog/blog_02.jpg')}}" alt="">
                    </figure>
                    <div class="blog-detail">
                        <small>By Admin | August 10 2018</small>
                        <h4>Methods of Recuirtments</h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
                        <div class="link">
                            <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <figure>
                        <img src="{{ asset('site/assets/images/blog/blog_03.jpg')}}" alt="">
                    </figure>
                    <div class="blog-detail">
                        <small>By Admin | August 10 2018</small>
                        <h4>Methods of Recuirtments</h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
                        <div class="link">
                            <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- ################# Footer Starts Here#######################--->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>About Us</h2>
                <p>
                    Smart IT Partner is a partially exporting SARL Startup  which was founded by Mohamed Amine Mezghich in July 2018 , which is specialized in all IT activities.
                </p>
            </div>

            <div class="col-md-4 col-sm-12 map-img">
                <h2>Contact Us</h2>
                <address class="md-margin-bottom-40">
                    Smart IT Partner <br>
                    Mohamed Amine Mezghich <br>
                    Phone: +216 52 05 65 75 <br>
                    Email: <a href="mailto:info@anybiz.com" class="">infos@smart-it-partner.com</a><br>
                    Web: <a href="smart-eye.html" class="">www.smart-it-partner.com/</a>
                </address>

            </div>
        </div>
    </div>


</footer>
<div class="copy">
    <div class="container">
        <a href="https://www.smarteyeapps.com/">2015 &copy; All Rights Reserved | Designed and Developed by Smart-it-partner</a>

        <span>
                <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-google-plus-g"></i></a>
                <a><i class="fab fa-pinterest-p"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-f"></i></a>
        </span>
    </div>

</div>

</body>

<script src="{{ asset('site/assets/js/jquery-3.2.1.min.js')}}"></script>
<script src="{{ asset('site/assets/js/popper.min.js')}}"></script>
<script src="{{ asset('site/assets/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('site/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js')}}"></script>
<script src="{{ asset('site/assets/js/script.js')}}"></script>


</html>