<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Smart LABO</title>

    <link rel="shortcut icon" href="{{ asset('site/assets/images/fav.jpg')}}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/fontawsom-all.min.css')}}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/animate.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('site/assets/css/style.css')}}" />
</head>

<body>

<!-- ################# Header Starts Here#######################--->
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 left-item">
                    <ul>
                        <li><i class="fas fa-envelope-square"></i> contact@smart-it-partner.com</li>
                        <li><i class="fas fa-phone-square"></i> +216 52 05 65 75</li>
                    </ul>
                </div>
                <div class="col-lg-5 d-none d-lg-block right-item">
                    <ul>
                        <li><a><i class="fab fa-github"></i></a></li>
                        <li><a><i class="fab fa-google-plus-g"></i></a></li>
                        <li> <a><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a><i class="fab fa-twitter"></i></a></li>
                        <li> <a><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div id="nav-head" class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                    <!--<img src="{{ asset('site/smartlab.png') }}" alt="">-->
                    <a data-toggle="collapse" data-target="#menu" href="#menu" ><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                </div>
                <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                    <ul>
                        <li><a href="{{ path('site') }}">Accueil</a></li>
                        <li><a href="">À propos de nous</a></li>
                        <li><a href="">Services</a></li>

                        <li><a href="{{ path('site_creer_compte') }}" >S'inscrire</a></li>
                    </ul>
                </div>

                <div class="col-sm-2 d-none d-lg-block appoint">
                    <a href="{{ path('security_login') }}" class="btn btn-info">Se connecter</a>
                </div>
            </div>

        </div>
    </div>

</header>


<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Inscrivez-vous maintenant</h2>

        </div>
    </div>
</div>

<!-- ######## Page  Title End ####### -->


<!-- ################# Our Blog Starts Here#######################--->




<div class="row contact-rooo no-margin">
    <div class="container">
        <div class="row">


            <div style="padding:20px" class="col-sm-6">
                {{ form_start(form) }}
                <h2 style="font-size:18px"><i>L'inscription du laboratoire</i></h2>
                <div class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>
                            Nom Responsable  :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form.user.nom, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Prénom  Responsable  :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form.user.prenom, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Email :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form.user.email, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Adresse :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form.user.adresse, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>


                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Tel :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form.user.tel, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>


                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Fax :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form.fax, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>

                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Matricule Fiscale :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form.matriculeFiscale, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>

                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Mot de passe :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form.user.password, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>
                            Répéter le mot de passe :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form.user.confirm_password, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>

                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Logo :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form.user.photoFile, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
                    <div class="col-sm-8">
                        <button class="btn btn-danger btn-sm">S'INSCRIRE</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

            <div style="padding:20px" class="col-sm-6">
                {{ form_start(form_med) }}
                <h2 style="font-size:18px"> <i>L'inscription du médecin</i></h2>
                <div class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Nom du médecin :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form_med.user.nom, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Prénom du médecin :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form_med.user.prenom, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>

                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Spécialité :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form_med.specialite, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Email :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form_med.user.email, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Adresse :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form_med.user.adresse, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Password :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form_med.user.password, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Confirm password :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form_med.user.confirm_password, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>

                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Tel :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form_med.user.tel, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>





                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Photo :</label></div>
                    <div class="col-sm-8">
                        {{ form_widget(form_med.user.photoFile, {'attr': {'class': 'form-control input-sm'}}) }}

                        <!--<input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  >-->
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
                    <div class="col-sm-8">
                        <button class="btn btn-danger btn-sm">S'INSCRIRE</button>
                    </div>
                </div>
                {{ form_end(form_med) }}
            </div>


        </div>
    </div>

</div>



<!-- ################# Footer Starts Here#######################--->


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>About Us</h2>
                <p>
                    Smart IT Partner is a partially exporting SARL Startup  which was founded by Mohamed Amine Mezghich in July 2018 , which is specialized in all IT activities.
                </p>
            </div>

            <div class="col-md-4 col-sm-12 map-img">
                <h2>Contact Us</h2>
                <address class="md-margin-bottom-40">
                    Smart IT Partner <br>
                    Mohamed Amine Mezghich <br>
                    Phone: +216 52 05 65 75 <br>
                    Email: <a href="mailto:info@anybiz.com" class="">infos@smart-it-partner.com</a><br>
                    Web: <a href="smart-eye.html" class="">www.smart-it-partner.com/</a>
                </address>

            </div>
        </div>
    </div>


</footer>
<div class="copy">
    <div class="container">
        <a href="https://www.smarteyeapps.com/">2015 &copy; All Rights Reserved | Designed and Developed by Smart-it-partner</a>

        <span>
                <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-google-plus-g"></i></a>
                <a><i class="fab fa-pinterest-p"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-f"></i></a>
        </span>
    </div>

</div>

</body>

<script src="{{ asset('site/assets/js/jquery-3.2.1.min.js')}}"></script>
<script src="{{ asset('site/assets/js/popper.min.js')}}"></script>
<script src="{{ asset('site/assets/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('site/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js')}}"></script>
<script src="{{ asset('site/assets/js/script.js')}}"></script>


</html>