<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>inscription laboratoire</title>

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Main CSS-->
    <link href="{{ asset('site/css/main.css')}}" rel="stylesheet" media="all">
</head>

<body>
<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
        <div class="card card-6">
            <div class="card-heading">
                <h2 class="title">inscription medecin</h2>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="form-row">
                    <div class="name">Nom</div>
                    <div class="value">
                        {{ form_widget(form.user.nom, {'attr': {'class': 'input--style-6'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="name">Prenom</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form.user.prenom, {'attr': {'class': 'input--style-6'}}) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="name">Specialite</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form.specialite, {'attr': {'class': 'input--style-6'}}) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="name">Email</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form.user.email, {'attr': {'class': 'input--style-6'}}) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="name">Adresse</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form.user.adresse, {'attr': {'class': 'input--style-6'}}) }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="name">Password</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form.user.password, {'attr': {'class': 'input--style-6'}}) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="name">Confirm password</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form.user.confirm_password, {'attr': {'class': 'input--style-6'}}) }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="name">Username</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form.user.username, {'attr': {'class': 'input--style-6'}}) }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="name">Tel</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form.user.tel, {'attr': {'class': 'input--style-6'}}) }}
                        </div>
                    </div>
                </div>




                <div class="form-row">
                    <div class="name">Upload PHOTO</div>
                    <div class="value">
                        {{ form_widget(form.user.photoFile, {'attr': {'class': 'input-group js-input-file'}}) }}

                        <div class="label--desc">Upload your Photo</div>
                    </div>
                </div>

                <div class="input-group" hidden >
                    {{ form_widget(form.user.isActive, {'attr': {'class': 'input--style-6','checked':'false'}}) }}
                </div>

            </div>
            <div class="card-footer">
                <button class="btn btn--radius-2 btn--blue-2" type="submit">s'inscrire</button>
                <a href="{{ path('site') }}" class="btn btn--radius-2 btn--blue-2" >Annuler</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="{{ asset('site/vendor/jquery/jquery.min.js')}}"></script>


<!-- Main JS-->
<script src="{{ asset('site/js/global.js')}}"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->