{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription sur le site</h1>
    {{ form_start(form) }}
    {{ form_row(form.nom, { 'attr': {  'placeholder': 'nom' } }  ) }}
    {{ form_row(form.prenom, { 'attr': {  'placeholder': 'prenom' } }  ) }}
    {{ form_row(form.adresse, { 'attr': {  'placeholder': 'adresse' } }  ) }}
    {{ form_row(form.tel, { 'attr': {  'placeholder': 'tel' } }  ) }}


    {{ form_row(form.email, { 'attr': {  'placeholder': 'Adresse email...' } }  ) }}
    {{ form_row(form.username, { 'label':'Nom d\'utilisateur', 'attr': {'placeholder':'Nom d\'utilisateur...' } }) }}
    {{ form_row(form.password, { 'label':'Mot de passe', 'attr': {'placeholder':'Mot de passe...' } }) }}
    {{ form_row(form.confirm_password, { 'label':'Répétez votre mot de passe',
        'attr':{'placeholder':'Répétez votre mot de passe...' } }) }}
    <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end(form) }}
{% endblock %}