



{% extends 'base.html.twig' %}

{% block title %}Delegue - Produit {% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/bundles/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block body %}


    <div class="page-container">
        <!-- start sidebar menu -->
        {% include ('include/menu_medecins.html.twig') %}
        <!-- end sidebar menu -->
        <!-- start page content -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <div class=" pull-left">
                            <div class="page-title">Liste des produits par labo</div>
                        </div>
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                                   href="">Accueil</a>&nbsp;<i class="fa fa-angle-right"></i>
                            </li>

                            <li class="active">Liste des produits</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-line">

                            <ul class="nav customtab nav-tabs" role="tablist">
                                <li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">Liste
                                    </a></li>
                                <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Grille
                                    </a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active fontawesome-demo" id="tab1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card card-topline-red">
                                                <div class="card-head">
                                                    <header></header>

                                                </div>
                                                <div class="card-body ">
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6 col-xs-6">

                                                        </div>

                                                    </div>
                                                    <div class="table-scrollable">
                                                        <table class="table table-hover table-checkable order-column full-width"
                                                               id="example4">
                                                            <thead>
                                                            <tr>
                                                                <th></th>




                                                                <th>Libellé</th>
                                                                <th>Description</th>

                                                                <th>Prix</th>
                                                                <th>Labo</th>





                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for produit in produits %}
                                                                <tr>

                                                                    <td class="patient-img">
                                                                        <img src="/uploads/{{produit.imageName}} " alt="{{produit.imageName}}">

                                                                    </td>

                                                                    <td>{{ produit.libelle }}</td>
                                                                    <td>{{ produit.description}}</td>
                                                                    <td>{{ produit.prix }}</td>
                                                                    <td>{{ produit.users.nom }}</td>









                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">

                                    <div class="row">
                                        {% for produit in produits %}
                                            <div class="col-md-4">
                                                <div class="card card-topline-aqua">
                                                    <div class="card-body no-padding ">
                                                        <div class="doctor-profile">
                                                            <img src="/uploads/{{produit.imageName}}" class="doctor-pic" alt="{{produit.imageName}}">
                                                            <div class="profile-usertitle">
                                                                <div class="doctor-name">{{ produit.libelle }}  </div>
                                                                <div class="name-center">{{ produit.description}} </div>
                                                            </div>
                                                            <p>{{ produit.prix }}</p>

                                                            <div class="profile-userbuttons">
                                                                <a href=""
                                                                   class="btn btn-circle deepPink-bgcolor btn-sm">{{ produit.users.nom }}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

 {% block javascripts %}
     <!-- data tables -->
     <script src="{{ asset('assets/bundles/datatables/jquery.dataTables.min.js') }}"></script>
     <script src="{{ asset('assets/bundles/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js')}}"></script>
     <script src="{{ asset('assets/data/table-data.js')}}"></script>


 {% endblock %}

{#{% extends 'base.html.twig' %}#}

{#{% block title %}LABO - produits{% endblock %}#}
{#{% block stylesheets %}#}
    {#<link href="{{ asset('assets/bundles/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"#}
          {#type="text/css" />#}
{#{% endblock %}#}
{#{% block body %}#}


    {#<div class="page-container">#}
        {#<!-- start sidebar menu -->#}
        {#{% include ('include/menu_medecins.html.twig') %}#}
        {#<!-- end sidebar menu -->#}
        {#<!-- start page content -->#}
        {#<div class="page-content-wrapper">#}
            {#<div class="page-content">#}
                {#<div class="page-bar">#}
                    {#<div class="page-title-breadcrumb">#}
                        {#<div class=" pull-left">#}
                            {#<div class="page-title">  liste de produits </div>#}
                        {#</div>#}
                        {#<ol class="breadcrumb page-breadcrumb pull-right">#}
                            {#<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"#}
                                                                   {#href="{{ path('labo') }}">Accueil</a>&nbsp;<i class="fa fa-angle-right"></i>#}
                            {#</li>#}

                            {#</li>#}
                            {#<li class="active">Produits</li>#}
                        {#</ol>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="row">#}
                    {#<div class="col-md-12">#}
                        {#<div class="tabbable-line">#}
                            {#<!-- <ul class="nav nav-tabs">#}
                                {#<li class="active">#}
                                    {#<a href="#tab1" data-toggle="tab"> List View </a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#tab2" data-toggle="tab"> Grid View </a>#}
                                {#</li>#}
                            {#</ul> -->#}
                            {#<ul class="nav customtab nav-tabs" role="tablist">#}
                                {#<li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">Liste#}
                                    {#</a></li>#}
                                {#<li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Grille#}
                                    {#</a></li>#}
                            {#</ul>#}
                            {#<div class="tab-content">#}
                                {#<div class="tab-pane active fontawesome-demo" id="tab1">#}
                                    {#<div class="row">#}
                                        {#<div class="col-md-12">#}
                                            {#<div class="card card-topline-red">#}
                                                {#<div class="card-head">#}
                                                    {#<header></header>#}

                                                {#</div>#}
                                                {#<div class="card-body ">#}
                                                    {#<div class="row">#}
                                                        {#<div class="col-md-6 col-sm-6 col-xs-6">#}
                                                        {#<div class="btn-group">#}
                                                        {#<a href="{{ path('labo_delegue_add') }}" id="addRow"#}
                                                        {#class="btn btn-info">#}
                                                        {#Ajouter <i class="fa fa-plus"></i>#}
                                                        {#</a>#}
                                                        {#</div>#}
                                                        {#</div>#}

                                                    {#</div>#}
                                                    {#<div class="table-scrollable">#}
                                                        {#<table#}
                                                                {#class="table table-hover table-checkable order-column full-width"#}
                                                                {#id="example4">#}
                                                            {#<thead>#}
                                                            {#<tr>#}
                                                                {#<th></th>#}

                                                                {#<th>Libelle</th>#}
                                                                {#<th>Description</th>#}
                                                                {#<th>Prix</th>#}

                                                                {#<th>actions</th>#}
                                                            {#</tr>#}
                                                            {#</thead>#}
                                                            {#<tbody>#}
                                                            {#{% for produit in produits %}#}
                                                                {#<tr>#}

                                                                    {#<td class="patient-img">#}
                                                                        {#<img src="/uploads/{{produit.imageName}} " alt="{{produit.imageName}}">#}
                                                                    {#</td>#}

                                                                    {#<td>{{ produit.libelle }}</td>#}
                                                                    {#<td>{{ produit.description }}</td>#}
                                                                    {#<td>{{ produit.prix }}</td>#}
                                                                    {#<td>#}
                                                                    {#<a href="edit_doctor.html"#}
                                                                    {#class="btn btn-primary btn-xs">#}
                                                                    {#<i class="fa fa-pencil"></i>#}
                                                                    {#</a>#}
                                                                    {#<button class="btn btn-danger btn-xs">#}
                                                                    {#<i class="fa fa-trash-o "></i>#}
                                                                    {#</button>#}
                                                                    {#</td>#}
                                                                {#</tr>#}
                                                            {#{% endfor %}#}
                                                            {#</tbody>#}
                                                        {#</table>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="tab-pane" id="tab2">#}

                                    {#<div class="row">#}
                                        {#{% for produit in produits %}#}
                                            {#<div class="col-md-4">#}
                                                {#<div class="card card-topline-aqua">#}
                                                    {#<div class="card-body no-padding ">#}
                                                        {#<div class="doctor-profile">#}
                                                            {#<img src="/uploads/{{produit.imageName}}" class="doctor-pic" alt="{{produit.imageName}}">#}
                                                            {#<div class="profile-usertitle">#}
                                                                {#<div class="doctor-name">{{ produit.libelle }} </div>#}
                                                                {#<div class="name-center">{{ produit.prix }} </div>#}
                                                            {#</div>#}

                                                            {#<div class="profile-userbuttons">#}
                                                                {#<button href="doctor_profile.html"#}
                                                                        {#class="btn btn-circle deepPink-bgcolor btn-sm"#}
                                                                        {#data-toggle="modal" data-target="#exampleModalCenter">#}
                                                                    {#Lire la suite</button>#}
                                                            {#</div>#}
                                                        {#</div>#}
                                                        {#<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"#}
                                                             {#aria-labelledby="exampleModalCenterTitle" aria-hidden="true">#}
                                                            {#<div class="modal-dialog modal-dialog-centered" role="document">#}
                                                                {#<div class="modal-content">#}
                                                                    {#<div class="modal-header">#}
                                                                        {#<h4 class="modal-title" id="exampleModalLongTitle">Descriptions produit</h4>#}
                                                                        {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                                                                            {#<span aria-hidden="true">&times;</span>#}
                                                                        {#</button>#}
                                                                    {#</div>#}
                                                                    {#<div class="modal-body">#}
                                                                        {#{{ produit.description }}#}
                                                                    {#</div>#}
                                                                    {#<div class="modal-footer">#}
                                                                        {#<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}

                                                                    {#</div>#}
                                                                {#</div>#}
                                                            {#</div>#}
                                                        {#</div>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#{% endfor %}#}
                                    {#</div>#}


                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<!-- end page content -->#}
        {#<!-- start chat sidebar -->#}
        {#<div class="chat-sidebar-container" data-close-on-body-click="false">#}
            {#<div class="chat-sidebar">#}
                {#<ul class="nav nav-tabs">#}
                    {#<li class="nav-item">#}
                        {#<a href="#quick_sidebar_tab_1" class="nav-link active tab-icon" data-toggle="tab"> <i#}
                                    {#class="material-icons">chat</i>Chat#}
                            {#<span class="badge badge-danger">4</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a href="#quick_sidebar_tab_3" class="nav-link tab-icon" data-toggle="tab"> <i#}
                                    {#class="material-icons">settings</i>#}
                            {#Settings#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
                {#<div class="tab-content">#}
                    {#<!-- Start Doctor Chat -->#}
                    {#<div class="tab-pane active chat-sidebar-chat in active show" role="tabpanel"#}
                         {#id="quick_sidebar_tab_1">#}
                        {#<div class="chat-sidebar-list">#}
                            {#<div class="chat-sidebar-chat-users slimscroll-style" data-rail-color="#ddd"#}
                                 {#data-wrapper-class="chat-sidebar-list">#}
                                {#<div class="chat-header">#}
                                    {#<h5 class="list-heading">Online</h5>#}
                                {#</div>#}
                                {#<ul class="media-list list-items">#}
                                    {#<li class="media"><img class="media-object" src="img/doc/doc3.jpg" width="35"#}
                                                           {#height="35" alt="...">#}
                                        {#<i class="online dot"></i>#}
                                        {#<div class="media-body">#}
                                            {#<h5 class="media-heading">John Deo</h5>#}
                                            {#<div class="media-heading-sub">Spine Surgeon</div>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li class="media">#}
                                        {#<div class="media-status">#}
                                            {#<span class="badge badge-success">5</span>#}
                                        {#</div> <img class="media-object" src="img/doc/doc1.jpg" width="35"#}
                                                    {#height="35" alt="...">#}
                                        {#<i class="busy dot"></i>#}
                                        {#<div class="media-body">#}
                                            {#<h5 class="media-heading">Rajesh</h5>#}
                                            {#<div class="media-heading-sub">Director</div>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li class="media"><img class="media-object" src="img/doc/doc5.jpg" width="35"#}
                                                           {#height="35" alt="...">#}
                                        {#<i class="away dot"></i>#}
                                        {#<div class="media-body">#}
                                            {#<h5 class="media-heading">Jacob Ryan</h5>#}
                                            {#<div class="media-heading-sub">Ortho Surgeon</div>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li class="media">#}
                                        {#<div class="media-status">#}
                                            {#<span class="badge badge-danger">8</span>#}
                                        {#</div> <img class="media-object" src="img/doc/doc4.jpg" width="35"#}
                                                    {#height="35" alt="...">#}
                                        {#<i class="online dot"></i>#}
                                        {#<div class="media-body">#}
                                            {#<h5 class="media-heading">Kehn Anderson</h5>#}
                                            {#<div class="media-heading-sub">CEO</div>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li class="media"><img class="media-object" src="img/doc/doc2.jpg" width="35"#}
                                                           {#height="35" alt="...">#}
                                        {#<i class="busy dot"></i>#}
                                        {#<div class="media-body">#}
                                            {#<h5 class="media-heading">Sarah Smith</h5>#}
                                            {#<div class="media-heading-sub">Anaesthetics</div>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li class="media"><img class="media-object" src="img/doc/doc7.jpg" width="35"#}
                                                           {#height="35" alt="...">#}
                                        {#<i class="online dot"></i>#}
                                        {#<div class="media-body">#}
                                            {#<h5 class="media-heading">Vlad Cardella</h5>#}
                                            {#<div class="media-heading-sub">Cardiologist</div>#}
                                        {#</div>#}
                                    {#</li>#}
                                {#</ul>#}
                                {#<div class="chat-header">#}
                                    {#<h5 class="list-heading">Offline</h5>#}
                                {#</div>#}
                                {#<ul class="media-list list-items">#}
                                    {#<li class="media">#}
                                        {#<div class="media-status">#}
                                            {#<span class="badge badge-warning">4</span>#}
                                        {#</div> <img class="media-object" src="img/doc/doc6.jpg" width="35"#}
                                                    {#height="35" alt="...">#}
                                        {#<i class="offline dot"></i>#}
                                        {#<div class="media-body">#}
                                            {#<h5 class="media-heading">Jennifer Maklen</h5>#}
                                            {#<div class="media-heading-sub">Nurse</div>#}
                                            {#<div class="media-heading-small">Last seen 01:20 AM</div>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li class="media"><img class="media-object" src="img/doc/doc8.jpg" width="35"#}
                                                           {#height="35" alt="...">#}
                                        {#<i class="offline dot"></i>#}
                                        {#<div class="media-body">#}
                                            {#<h5 class="media-heading">Lina Smith</h5>#}
                                            {#<div class="media-heading-sub">Ortho Surgeon</div>#}
                                            {#<div class="media-heading-small">Last seen 11:14 PM</div>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li class="media">#}
                                        {#<div class="media-status">#}
                                            {#<span class="badge badge-success">9</span>#}
                                        {#</div> <img class="media-object" src="img/doc/doc9.jpg" width="35"#}
                                                    {#height="35" alt="...">#}
                                        {#<i class="offline dot"></i>#}
                                        {#<div class="media-body">#}
                                            {#<h5 class="media-heading">Jeff Adam</h5>#}
                                            {#<div class="media-heading-sub">Compounder</div>#}
                                            {#<div class="media-heading-small">Last seen 3:31 PM</div>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li class="media"><img class="media-object" src="img/doc/doc10.jpg" width="35"#}
                                                           {#height="35" alt="...">#}
                                        {#<i class="offline dot"></i>#}
                                        {#<div class="media-body">#}
                                            {#<h5 class="media-heading">Anjelina Cardella</h5>#}
                                            {#<div class="media-heading-sub">Physiotherapist</div>#}
                                            {#<div class="media-heading-small">Last seen 7:45 PM</div>#}
                                        {#</div>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<!-- End Doctor Chat -->#}
                    {#<!-- Start Setting Panel -->#}
                    {#<div class="tab-pane chat-sidebar-settings" role="tabpanel" id="quick_sidebar_tab_3">#}
                        {#<div class="chat-sidebar-settings-list slimscroll-style">#}
                            {#<div class="chat-header">#}
                                {#<h5 class="list-heading">Layout Settings</h5>#}
                            {#</div>#}
                            {#<div class="chatpane inner-content ">#}
                                {#<div class="settings-list">#}
                                    {#<div class="setting-item">#}
                                        {#<div class="setting-text">Sidebar Position</div>#}
                                        {#<div class="setting-set">#}
                                            {#<select#}
                                                    {#class="sidebar-pos-option form-control input-inline input-sm input-small ">#}
                                                {#<option value="left" selected="selected">Left</option>#}
                                                {#<option value="right">Right</option>#}
                                            {#</select>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="setting-item">#}
                                        {#<div class="setting-text">Header</div>#}
                                        {#<div class="setting-set">#}
                                            {#<select#}
                                                    {#class="page-header-option form-control input-inline input-sm input-small ">#}
                                                {#<option value="fixed" selected="selected">Fixed</option>#}
                                                {#<option value="default">Default</option>#}
                                            {#</select>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="setting-item">#}
                                        {#<div class="setting-text">Footer</div>#}
                                        {#<div class="setting-set">#}
                                            {#<select#}
                                                    {#class="page-footer-option form-control input-inline input-sm input-small ">#}
                                                {#<option value="fixed">Fixed</option>#}
                                                {#<option value="default" selected="selected">Default</option>#}
                                            {#</select>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="chat-header">#}
                                    {#<h5 class="list-heading">Account Settings</h5>#}
                                {#</div>#}
                                {#<div class="settings-list">#}
                                    {#<div class="setting-item">#}
                                        {#<div class="setting-text">Notifications</div>#}
                                        {#<div class="setting-set">#}
                                            {#<div class="switch">#}
                                                {#<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"#}
                                                       {#for="switch-1">#}
                                                    {#<input type="checkbox" id="switch-1" class="mdl-switch__input"#}
                                                           {#checked>#}
                                                {#</label>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="setting-item">#}
                                        {#<div class="setting-text">Show Online</div>#}
                                        {#<div class="setting-set">#}
                                            {#<div class="switch">#}
                                                {#<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"#}
                                                       {#for="switch-7">#}
                                                    {#<input type="checkbox" id="switch-7" class="mdl-switch__input"#}
                                                           {#checked>#}
                                                {#</label>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="setting-item">#}
                                        {#<div class="setting-text">Status</div>#}
                                        {#<div class="setting-set">#}
                                            {#<div class="switch">#}
                                                {#<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"#}
                                                       {#for="switch-2">#}
                                                    {#<input type="checkbox" id="switch-2" class="mdl-switch__input"#}
                                                           {#checked>#}
                                                {#</label>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="setting-item">#}
                                        {#<div class="setting-text">2 Steps Verification</div>#}
                                        {#<div class="setting-set">#}
                                            {#<div class="switch">#}
                                                {#<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"#}
                                                       {#for="switch-3">#}
                                                    {#<input type="checkbox" id="switch-3" class="mdl-switch__input"#}
                                                           {#checked>#}
                                                {#</label>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="chat-header">#}
                                    {#<h5 class="list-heading">General Settings</h5>#}
                                {#</div>#}
                                {#<div class="settings-list">#}
                                    {#<div class="setting-item">#}
                                        {#<div class="setting-text">Location</div>#}
                                        {#<div class="setting-set">#}
                                            {#<div class="switch">#}
                                                {#<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"#}
                                                       {#for="switch-4">#}
                                                    {#<input type="checkbox" id="switch-4" class="mdl-switch__input"#}
                                                           {#checked>#}
                                                {#</label>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="setting-item">#}
                                        {#<div class="setting-text">Save Histry</div>#}
                                        {#<div class="setting-set">#}
                                            {#<div class="switch">#}
                                                {#<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"#}
                                                       {#for="switch-5">#}
                                                    {#<input type="checkbox" id="switch-5" class="mdl-switch__input"#}
                                                           {#checked>#}
                                                {#</label>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="setting-item">#}
                                        {#<div class="setting-text">Auto Updates</div>#}
                                        {#<div class="setting-set">#}
                                            {#<div class="switch">#}
                                                {#<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"#}
                                                       {#for="switch-6">#}
                                                    {#<input type="checkbox" id="switch-6" class="mdl-switch__input"#}
                                                           {#checked>#}
                                                {#</label>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<!-- end chat sidebar -->#}
    {#</div>#}


{#{% endblock %}#}

 {#{% block javascripts %}#}
     {#<!-- data tables -->#}
     {#<script src="{{ asset('assets/bundles/datatables/jquery.dataTables.min.js') }}"></script>#}
     {#<script src="{{ asset('assets/bundles/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js')}}"></script>#}
     {#<script src="{{ asset('assets/data/table-data.js')}}"></script>#}


 {#{% endblock %}#}