{% extends 'base.html.twig' %}

{% block title %}LABO - produits{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/bundles/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block body %}


    <div class="page-container">
        <!-- start sidebar menu -->
        {% include ('include/menu_medecins.html.twig') %}
        <!-- end sidebar menu -->
        <!-- start page content -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <div class=" pull-left">
                            <div class="page-title"> Vous pouvez voir votre liste de videos </div>
                        </div>
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                                   href="{{ path('labo') }}">Accueil</a>&nbsp;<i class="fa fa-angle-right"></i>
                            </li>

                            </li>
                            <li class="active">Videos</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-line">
                            <!-- <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab1" data-toggle="tab"> List View </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab"> Grid View </a>
                                </li>
                            </ul> -->
                            <!-- <ul class="nav customtab nav-tabs" role="tablist">
                            {#<li class="nav-item"><a href="#tab1" class="nav-link " data-toggle="tab">Liste#}
                            {#</a></li>#}
                            <li class="nav-item"><a href="#tab2" class="nav-link active" data-toggle="tab">Grille
                                </a></li>
                        </ul>-->
                            <div class="tab-content">
                                {#<div class="tab-pane  fontawesome-demo" id="tab1">#}
                                {#<div class="row">#}
                                {#<div class="col-md-12">#}
                                {#<div class="card card-topline-red">#}
                                {#<div class="card-head">#}
                                {#<header></header>#}

                                {#</div>#}
                                {#<div class="card-body ">#}
                                {#<div class="row">#}
                                {#<div class="col-md-6 col-sm-6 col-xs-6">#}
                                {#<div class="btn-group">#}
                                {#<a href="{{ path('medecin_video_add') }}" id="addRow"#}
                                {#class="btn btn-info">#}
                                {#Ajouter <i class="fa fa-plus"></i>#}
                                {#</a>#}
                                {#</div>#}
                                {#</div>#}

                                {#</div>#}
                                {#<div class="table-scrollable">#}
                                {#<table#}
                                {#class="table table-hover table-checkable order-column full-width"#}
                                {#id="example4">#}
                                {#<thead>#}
                                {#<tr>#}
                                {#<th></th>#}

                                {#<th>Libelle</th>#}
                                {#<th>Description</th>#}
                                {#<th>photo</th>#}

                                {#<th>actions</th>#}
                                {#</tr>#}
                                {#</thead>#}
                                {#<tbody>#}
                                {#{% for video in videos %}#}
                                {#<tr>#}

                                {#<td class="patient-img">#}
                                {#<video controls onclick="this.play()" width="320" height="240">#}
                                {#<source src="/uploads/{{video.imageName}}" type="video/mp4">#}

                                {#</video>                                                                 </td>#}

                                {#<td>{{ video.libelle }}</td>#}
                                {#<td>{{ video.description }}</td>#}

                                {#<td>#}
                                {#<a href="edit_doctor.html"#}
                                {#class="btn btn-primary btn-xs">#}
                                {#<i class="fa fa-pencil"></i>#}
                                {#</a>#}
                                {#<button class="btn btn-danger btn-xs">#}
                                {#<i class="fa fa-trash-o "></i>#}
                                {#</button>#}
                                {#</td>#}
                                {#</tr>#}
                                {#{% endfor %}#}
                                {#</tbody>#}
                                {#</table>#}
                                {#</div>#}
                                {#</div>#}
                                {#</div>#}
                                {#</div>#}
                                {#</div>#}
                                {#</div>#}
                                <div class="tab-pane active"  id="tab2">

                                    <div class="row">
                                        {% for video in videos %}
                                            <div class="col-md-4">
                                                <div class="card card-topline-aqua">
                                                    <div class="card-body no-padding ">
                                                        <div class="doctor-profile">
                                                            <video controls onclick="this.play()" width="320" height="240">
                                                                <source src="/uploads/{{video.imageName}}" type="video/mp4">

                                                            </video>
                                                            <div class="profile-usertitle">
                                                                <div class="doctor-name">{{ video.libelle }}  publier le {{ video.createdAt|date("d/m/Y") }}</div>
                                                                <div class="doctor-name">{{ video.users.nom}}</div>

                                                            </div>

                                                            <div class="profile-userbuttons">
                                                                <button href="doctor_profile.html"
                                                                        class="btn btn-circle deepPink-bgcolor btn-sm"
                                                                        data-toggle="modal" data-target="#exampleModalCenter">
                                                                    Lire description</button>
                                                            </div>
                                                        </div>
                                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title" id="exampleModalLongTitle">Descriptions video</h4>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        {{ video.description }}
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>


{% endblock %}

 {% block javascripts %}
     <!-- data tables -->
     <script src="{{ asset('assets/bundles/datatables/jquery.dataTables.min.js') }}"></script>
     <script src="{{ asset('assets/bundles/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js')}}"></script>
     <script src="{{ asset('assets/data/table-data.js')}}"></script>


 {% endblock %}