{% block footer %}
    <div class="page-footer">
        <div class="page-footer-inner"> 2020 &copy; Agenda GOMED
            <a href="" target="_top" class="makerCss">Smart IT Partner</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
{% endblock %}