
<div class="page-wrapper">
		<!-- start header -->
		<div class="page-header navbar navbar-fixed-top">
			<div class="page-header-inner ">
				<!-- logo start -->
				<div class="page-logo">
					<a href="index.html">
						<span class="logo-icon fa fa-stethoscope fa-rotate-45"></span>
						<span class="logo-default">Medecin</span> </a>
				</div>
				<!-- logo end -->
				<ul class="nav navbar-nav navbar-left in">
					<li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
				</ul>
				<form class="search-form-opened" action="#" method="GET">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search..." name="query">
						<span class="input-group-btn">
							<a href="javascript:;" class="btn submit">
								<i class="icon-magnifier"></i>
							</a>
						</span>
					</div>
				</form>
				<!-- start mobile menu -->
				<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span></span>
				</a>
				<!-- end mobile menu -->
				<!-- start header menu -->
				<div class="top-menu">
					<ul class="nav navbar-nav pull-right">
						<!-- start language menu -->
						
						 <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="fa fa-bell-o"></i>

                            <span class="badge headerBadgeColor1">  
                                {{ N }}
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                 
                                <ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
                                   <li class="external">
	                                 <h6><span class="">Invitations labo</span>  <span class="notification-label purple-bgcolor">{{ n }}</span></h6>
	                                
                                </li>
                                    {% for invit in labo4 %}
                                        <li>
                                            <a href="javascript:;">

                                                <span class="time"></span>
                                                <span class="details">
													<span class="notification-icon circle purple-bgcolor"><i
                                                                class="fa fa-user o"></i></span>
													<b>{{ invit.user.nom }}</b> want to follow you. </span>

                                                <div style="float: right; margin-right: 12px" class="btn-group" role="group" aria-label="Basic example">
                                                <a style="margin-right: 10px;margin-top: 3px"  class="btn btn-primary" href="{{ path('app_medecin_valise', {'idMedecin':medecin.id, 'idLabo': invit.id}) }}"  >accepter</a>
                                                 <a style="margin-right: 10px;margin-top: 3px" class="btn btn-danger" href="{{ path('app_medecin_annule',{'idMedecin':medecin.id, 'idLabo': invit.id}) }}" >rejecter</a>

                                                </div>
                                            </a>


                                            </a>
                                        </li>
                                    {% endfor %}

                 
                                 <li class="external">
                                 <h6><span class="">Invitations Delegues</span> <span class="notification-label purple-bgcolor">{{ n1 }}</span></h6>
                                 
                                </li>
                                    {% for invit in labo5 %}
                                        <li>
                                            <a href="javascript:;">

                                                <span class="time"></span>
                                                <span class="details">
													<span class="notification-icon circle purple-bgcolor"><i
                                                                class="fa fa-user o"></i></span>
													<b>{{ invit.user.nom }}</b> want to follow you. </span>

                                                <div style="float: right; margin-right: 12px" class="btn-group" role="group" aria-label="Basic example">
                                                <a style="margin-right: 10px;margin-top: 3px"  class="btn btn-primary" href="{{ path('app_medecin_valised', {'idMedecin':medecin.id, 'idD': invit.id}) }}"  >accepter</a>
                                                 <a style="margin-right: 10px;margin-top: 3px" class="btn btn-danger" href="{{ path('app_medecin_annuled',{'idMedecin':medecin.id, 'idD': invit.id}) }}" >rejecter</a>

                                                </div>
                                            </a>


                                            </a>
                                        </li>
                                    {% endfor %}

                                </ul>
                              <div class="dropdown-menu-footer">
                                    <a href="javascript:void(0)">  </a>
                                </div>
                            </li>

                        </ul>
                    </li>
						
						<!-- start manage user dropdown -->
						<li class="dropdown dropdown-user">
							<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
								data-close-others="true">
								<img alt="" class="img-circle " src="{{ asset('uploads/' ~ medecin.photoName) }}" />
								<span class="username username-hide-on-mobile"> Dr. {{medecin.nom}} </span>
								<i class="fa fa-angle-down"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-default">
								<li>
									<a href="  {{path('app_medecin_edit_medecin', {'id':medecin.id})}} ">
										<i class="icon-user"></i> Profile </a>
								</li>
								
								<li>
									<a href="{{ path('security_logout') }}">
                                    <i class="icon-logout"></i> Log Out </a>
								</li>
							</ul>
						</li>
						<!-- end manage user dropdown -->
						<li class="dropdown dropdown-quick-sidebar-toggler">
							<a id="headerSettingButton" class="mdl-button mdl-js-button mdl-button--icon pull-right"
								data-upgraded=",MaterialButton">
								<i class="material-icons">more_vert</i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end header -->
		<!-- start color quick setting -->
		<div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
	              <div class="quick-setting slimscroll-style">
					<ul id="themecolors">
						<li>
							<p class="sidebarSettingTitle">Sidebar Color</p>
						</li>
						<li class="complete">
							<div class="theme-color sidebar-theme">
								<a href="#" data-theme="white"><span class="head"></span><span class="cont"></span></a>
								<a href="#" data-theme="dark"><span class="head"></span><span class="cont"></span></a>
								<a href="#" data-theme="blue"><span class="head"></span><span class="cont"></span></a>
								<a href="#" data-theme="indigo"><span class="head"></span><span class="cont"></span></a>
								<a href="#" data-theme="cyan"><span class="head"></span><span class="cont"></span></a>
								<a href="#" data-theme="green"><span class="head"></span><span class="cont"></span></a>
								<a href="#" data-theme="red"><span class="head"></span><span class="cont"></span></a>
							</div>
						</li>
						<li>
							<p class="sidebarSettingTitle">Header Brand color</p>
						</li>
						<li class="theme-option">
							<div class="theme-color logo-theme">
								<a href="#" data-theme="logo-white"><span class="head"></span><span class="cont"></span></a>
								<a href="#" data-theme="logo-dark"><span class="head"></span><span class="cont"></span></a>
								<a href="#" data-theme="logo-blue"><span class="head"></span><span class="cont"></span></a>
								<a href="#" data-theme="logo-indigo"><span class="head"></span><span
										class="cont"></span></a>
								<a href="#" data-theme="logo-cyan"><span class="head"></span><span class="cont"></span></a>
								<a href="#" data-theme="logo-green"><span class="head"></span><span class="cont"></span></a>
								<a href="#" data-theme="logo-red"><span class="head"></span><span class="cont"></span></a>
							</div>
						</li>
						<li>
							<p class="sidebarSettingTitle">Header color</p>
						</li>
						<li class="theme-option">
							<div class="theme-color header-theme">
								<a href="#" data-theme="header-white"><span class="head"></span><span
										class="cont"></span></a>
								<a href="#" data-theme="header-dark"><span class="head"></span><span
										class="cont"></span></a>
								<a href="#" data-theme="header-blue"><span class="head"></span><span
										class="cont"></span></a>
								<a href="#" data-theme="header-indigo"><span class="head"></span><span
										class="cont"></span></a>
								<a href="#" data-theme="header-cyan"><span class="head"></span><span
										class="cont"></span></a>
								<a href="#" data-theme="header-green"><span class="head"></span><span
										class="cont"></span></a>
								<a href="#" data-theme="header-red"><span class="head"></span><span class="cont"></span></a>
							</div>
						</li>
					</ul>
				</div>
            </div>
          </div>
        </div>