{% block header %}
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner ">
            <!-- logo start -->
            <div class="page-logo">
                <a href="#">
                    <span class="logo-icon fa fa-stethoscope fa-rotate-45"></span>
                    <span class="logo-default">LABO</span> </a>
            </div>
            <!-- logo end -->
            <ul class="nav navbar-nav navbar-left in">
                <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
            </ul>
            <form class="search-form-opened" action="#" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." name="query">
                    <span class="input-group-btn">
							<a href="javascript:;" class="btn submit">
								<i class="icon-magnifier"></i>
							</a>
						</span>
                </div>
            </form>
            <!-- start mobile menu -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
               data-target=".navbar-collapse">
                <span></span>
            </a>
            <!-- end mobile menu -->
            <!-- start header menu -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- start language menu
                    <li class="dropdown language-switch">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img
                                    src="{{ asset('assets/img/flags/gb.png')}}" class="position-left" alt=""> English <span
                                    class="fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="deutsch"><img src="{{ asset('assets/img/flags/de.png')}}" alt=""> Deutsch</a>
                            </li>
                            <li>
                                <a class="ukrainian"><img src="{{ asset('assets/img/flags/ua.png')}}" alt=""> Українська</a>
                            </li>
                            <li>
                                <a class="english"><img src="{{ asset('assets/img/flags/gb.png')}}" alt=""> English</a>
                            </li>
                            <li>
                                <a class="espana"><img src="{{ asset('assets/img/flags/es.png')}}" alt=""> España</a>
                            </li>
                            <li>
                                <a class="russian"><img src="{{ asset('assets/img/flags/ru.png')}}" alt=""> Русский</a>
                            </li>
                        </ul>
                    </li>-->
                    <!-- end language menu -->
                    <!-- start notification dropdown -->
                    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="fa fa-bell-o"></i>

                            <span class="badge headerBadgeColor1">  
                                {{ n }}
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3><span class="bold">Notifications</span></h3>
                                <span class="notification-label purple-bgcolor">{{ n }}</span>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
                                    {% for invit in getinvit %}
                                        <li>
                                            <a href="javascript:;">

                                                <span class="time"></span>
                                                <span class="details">
													<span class="notification-icon circle purple-bgcolor"><i
                                                                class="fa fa-user o"></i></span>
													<b>{{ invit.nom }}</b> want to follow you. </span>

                                                <div style="float: right; margin-right: 12px" class="btn-group" role="group" aria-label="Basic example">
                                                <a style="margin-right: 10px;margin-top: 3px"  class="btn btn-primary" href="{{ path('app_medecin_valiser', {'idMedecin':laboInfo.user.id, 'idNoti': invit.id}) }}"  >accepter</a>
                                                 <a style="margin-right: 10px;margin-top: 3px" class="btn btn-danger" href="{{ path('app_medecin_annuler',{'idMedecin':laboInfo.user.id, 'idLabo': invit.Labo}) }}" >rejecter</a>

                                                </div>
                                            </a>


                                            </a>
                                        </li>
                                    {% endfor %}

                                </ul>
                                <div class="dropdown-menu-footer">
                                    <a href="javascript:void(0)">  </a>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <!-- end notification dropdown -->
                    <!-- start message dropdown
                    <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge headerBadgeColor2"> 2 </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3><span class="bold">Messages</span></h3>
                                <span class="notification-label cyan-bgcolor">New 2</span>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
                                    <li>
                                        <a href="#">
												<span class="photo">
													<img src="{{ asset('assets/img/doc/doc3.jpg')}}" class="img-circle" alt=""> </span>
                                            <span class="subject">
													<span class="from"> Sarah Smith </span>
													<span class="time">Just Now </span>
												</span>
                                            <span class="message"> Jatin I found you on LinkedIn... </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
												<span class="photo">
													<img src="{{ asset('assets/img/doc/doc3.jpg')}}" class="img-circle" alt=""> </span>
                                            <span class="subject">
													<span class="from"> John Deo </span>
													<span class="time">16 mins </span>
												</span>
                                            <span class="message"> Fwd: Important Notice Regarding Your Domain
													Name... </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
												<span class="photo">
													<img src="{{ asset('assets/img/doc/doc1.jpg')}}" class="img-circle" alt=""> </span>
                                            <span class="subject">
													<span class="from"> Rajesh </span>
													<span class="time">2 hrs </span>
												</span>
                                            <span class="message"> pls take a print of attachments. </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
												<span class="photo">
													<img src="{{ asset('assets/img/doc/doc8.jpg')}}" class="img-circle" alt=""> </span>
                                            <span class="subject">
													<span class="from"> Lina Smith </span>
													<span class="time">40 mins </span>
												</span>
                                            <span class="message"> Apply for Ortho Surgeon </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
												<span class="photo">
													<img src="{{ asset('assets/img/doc/doc5.jpg')}}" class="img-circle" alt=""> </span>
                                            <span class="subject">
													<span class="from"> Jacob Ryan </span>
													<span class="time">46 mins </span>
												</span>
                                            <span class="message"> Request for leave application. </span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="dropdown-menu-footer">
                                    <a href="#"> All Messages </a>
                                </div>
                            </li>
                        </ul>
                    </li>-->
                    <!-- end message dropdown -->
                    <!-- start manage user dropdown -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <img alt="" class="img-circle " src="/uploads/{{ laboInfo.user.photoName }}" />

                            <span class="username username-hide-on-mobile">{{ laboInfo.user.nom }}</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <!--<li>
                                <a href="">
                                    <i class="icon-user"></i> Profile </a>
                            </li>-->

                            <li class="divider"> </li>
                            <li>
                                <a href="{{ path('security_logout') }}">
                                    <i class="icon-logout"></i> Log Out </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end manage user dropdown -->

                </ul>
            </div>
        </div>
    </div>
{% endblock %}