<div class="sidebar-container">
				<div class="sidemenu-container navbar-collapse collapse fixed-menu">
					<div id="remove-scroll" class="left-sidemenu">
						<ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false"
							data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
							<li class="sidebar-toggler-wrapper hide">
								<div class="sidebar-toggler">
									<span></span>
								</div>
							</li>
							<li class="sidebar-user-panel">
								<div class="user-panel">
									<div class="pull-left image">
										<img src="{{ asset('uploads/' ~ medecin.photoName) }}" class="img-circle user-img-circle" alt="User Image" />
									</div>
									<div class="pull-left info">
										<p> Dr. {{medecin.nom}}</p>
										<a href="#"><i class="fa fa-circle user-online"></i><span class="txtOnline">
												Online</span></a>
									</div>
								</div>
							</li>
							<li class="nav-item ">
								<a href="  {{path('app_medecin_edit_medecin', {'id':medecin.id})}} " class="nav-link nav-toggle">
									<i class="material-icons">person</i>
									<span class="title">Profile</span>
							
								</a>

							</li>
							<li class="nav-item  ">
								<a href="{{path('app_medecin_listProduit', {'idMedecin':medecin.id})}}" class="nav-link nav-toggle"> <i class="material-icons">widgets</i>
									<span class="title">Consulter Produits</span>
								</a>
							</li>
							<li class="nav-item  ">
								<a href="{{path('app_medecin_list_labo', {'idMedecin':medecin.id})}}" class="nav-link nav-toggle"> <i class="material-icons">widgets</i>
									<span class="title">Consulter Labo</span>
								</a>
							</li>
							<li class="nav-item  ">
								<a href="{{path('app_medecin_list_labo_A', {'idMedecin':medecin.id})}}" class="nav-link nav-toggle"> <i class="material-icons">widgets</i>
									<span class="title">Liste des Labos Validés</span>
								</a>
							</li>
						</ul>
			</div>
		</div>
	</div>