<div class="sidebar-container">
    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
        <div id="remove-scroll" class="left-sidemenu">
            <ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false"
                data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                </li>
                <li class="sidebar-user-panel">
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="/uploads/{{ medInfo.user.photoName }}" class="img-circle user-img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p> {{ medInfo.user.nom }}</p>
                            <a href="#"><i class="fa fa-circle user-online"></i><span class="txtOnline">
												En ligne</span></a>
                        </div>
                    </div>
                </li>

                </li>


                <li class="nav-item  ">
                    <a href="" class="nav-link nav-toggle"> <i class="material-icons">person</i>
                        <span class="title">Laboratoires</span> <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="{{ path('medecin_amis_index') }}" class="nav-link "> <span class="title"> Mes labo</span>
                            </a>

                        </li>
                        <li>
                            <a href="" class="nav-link "> <span class="title"> Inviter labo</span>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="{{ path('medecin_produit_list') }}" class="nav-link"> <i class="material-icons">person</i>
                        <span class="title">Consulter produits</span>
                    </a>

                </li>

                <li class="nav-item  ">
                    <a href="{{ path('medecin_magazine_index') }}" class="nav-link nav-toggle"> <i class="material-icons">person</i>
                        <span class="title">Consulter magazines</span>
                        <!-- <ul class="sub-menu">
                            <li class="nav-item  ">
                                <a href="" class="nav-link "> <span class="title"> Consulter magazine</span>
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a href="" class="nav-link "> <span class="title">Ajouter une magazine</span>
                                </a>
                            </li>

                        </ul> -->
                    </a>

                </li>
                <li class="nav-item  ">
                    <a href="" class="nav-link nav-toggle"> <i class="material-icons">person</i>
                        <span class="title">Gestion videos</span> <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="{{ path('medecin_video_index') }}" class="nav-link "> <span class="title"> Tous les videos</span>
                            </a>
                        </li>
                        {#<li class="nav-item  ">#}
                        {#<a href="{{ path('medecin_video_add') }}" class="nav-link "> <span class="title">Ajouter une video</span>#}
                        {#</a>#}
                        {#</li>#}

                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="" class="nav-link "> <i class="material-icons">person</i>
                        <span class="title">Live RTC</span>
                    </a>

                </li>





            </ul>
        </div>
    </div>
</div>