<div class="sidebar-container">
    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
        <div id="remove-scroll" class="left-sidemenu">
            <ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false"
                data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                </li>
                <li class="sidebar-user-panel">
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="/uploads/{{ laboInfo.user.photoName }}" class="img-circle user-img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>{{ laboInfo.user.nom }} </p>
                            <a href="#"><i class="fa fa-circle user-online"></i><span class="txtOnline">
												En ligne</span></a>
                        </div>
                    </div>
                </li>

                </li>




                <li class="nav-item  ">
                    <a href="" class="nav-link nav-toggle"> <i class="material-icons">person</i>
                        <span class="title">Gestion Delegues</span> <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="{{ path('labo_delegue_index') }}" class="nav-link "> <span class="title"> Tous les delegues</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('labo_delegue_add') }}" class="nav-link "> <span class="title">Ajouter un delegue</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="" class="nav-link nav-toggle"> <i class="material-icons">person</i>
                        <span class="title">Gestion Médecins</span> <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="{{ path('labo_medecin_index') }}" class="nav-link "> <span class="title">Tous les médecins</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('labo_medecin_add') }}" class="nav-link "> <span class="title">Ajouter un médecin</span>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="" class="nav-link nav-toggle"> <i class="material-icons">person</i>
                        <span class="title">Gestion produits</span> <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="{{ path('labo_produit_index') }}"  class="nav-link "> <span class="title"> Tous les produits</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('labo_produit_add') }}" class="nav-link "> <span class="title">Ajouter un produit</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item  ">
                    <a href="" class="nav-link nav-toggle"> <i class="material-icons">person</i>
                        <span class="title">Gestion magazines</span> <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="{{ path('labo_magazine_index') }}"  class="nav-link "> <span class="title"> Tous les magazines</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('labo_magazine_add') }}" class="nav-link "> <span class="title">Ajouter un magazine</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="#" class="nav-link nav-toggle"> <i class="material-icons f-left">video_library</i>
                        <span class="title">Gestion videos</span> <span class="arrow"></span>
                        <ul class="sub-menu">
                            <li class="nav-item  ">
                                <a href="{{ path('labo_video_index') }}"  class="nav-link "> <span class="title"> Tous les Videos</span>
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a href="{{ path('labo_video_add') }}" class="nav-link "> <span class="title">Ajouter une Video</span>
                                </a>
                            </li>

                        </ul>
                    </a>

                </li>
                <li class="nav-item  ">
                    <a href="#" class="nav-link nav-toggle"> <i class="material-icons f-left">videocam</i>
                        <span class="title">Live RTC</span>
                    </a>

                </li>




            </ul>
        </div>
    </div>
</div>