<div class="sidebar-container">
    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
        <div id="remove-scroll" class="left-sidemenu">
            <ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false"
                data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                </li>
                <li class="sidebar-user-panel">
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="/uploads/{{ user.photoName }}" class="img-circle user-img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p> {{ user.nom }}</p>
                            <a href="#"><i class="fa fa-circle user-online"></i><span class="txtOnline">
												En ligne</span></a>
                        </div>
                    </div>
                </li>

                </li>





                <li class="nav-item  ">
                    <a href="" class="nav-link nav-toggle"> <i class="material-icons">person</i>
                        <span class="title">Gestion des labo</span> <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="{{ path('sip_labo_index') }}"  class="nav-link "> <span class="title"> Tous les labo</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('sip_labo_add') }}" class="nav-link "> <span class="title">Ajouter un labo</span>
                            </a>
                        </li>

                    </ul>
                </li>





            </ul>
        </div>
    </div>
</div>