{% extends 'base.html.twig' %}


{% block title %}Magazines{% endblock %}
{% block body %}
<div class="page-container">
    <!-- start sidebar menu -->
    {% include ('include/menu_labo.html.twig') %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Ajouter une magazine </div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                               href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li><a class="parent-item" href="#">Doctors</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>

                        <li class="active">Ajouter magazine</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Basic Information</header>
                            <button id="panel-button"
                                    class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                    data-upgraded=",MaterialButton">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                data-mdl-for="panel-button">
                                <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action
                                </li>
                                <li class="mdl-menu__item"><i class="material-icons">print</i>Another action
                                </li>
                                <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else
                                    here
                                </li>
                            </ul>
                        </div>
                        <div class="card-body" id="bar-parent">
                            {{ form_start(form_magazine ,{'attr':{'class':'form-horizontal'}}) }}

                            <div class="form-body">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Libelle
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        {{ form_widget(form_magazine.libelle,{'attr':{'class':'form-control input-height'}}) }}

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Description
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        {{ form_widget(form_magazine.description,{'attr':{'class':'form-control input-height'}}) }}

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3">URL
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        {{ form_widget(form_magazine.url,{'attr':{'class':'form-control input-height'}}) }}

                                    </div>
                                </div>


                            <div class="form-group row">
                                <label class="control-label col-md-3">Photo
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    {{ form_widget(form_magazine.imageFile,{'attr':{'class':'form-control input-height'}}) }}

                                </div>
                            </div>



                            <div class="form-actions">
                                <div class="row">
                                    <div class="offset-md-3 col-md-9">
                                        <button type="submit"
                                                class="btn btn-info m-r-20">Submit</button>
                                        <button type="button" class="btn btn-default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            {{form_end(form_magazine)}}

                            {% endblock %}

