


{% extends 'base.html.twig' %}

{% block title %}LABO - Medecin{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/bundles/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block body %}


    <div class="page-container">
        <!-- start sidebar menu -->
        {% include ('include/menu_labo.html.twig') %}
        <!-- end sidebar menu -->
        <!-- start page content -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <div class=" pull-left">
                            <div class="page-title"> Vous pouvez consulter ou ajouter des medecins à votre laboratoire</div>
                        </div>
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                                   href="{{ path('labo') }}">Accueil</a>&nbsp;<i class="fa fa-angle-right"></i>
                            </li>

                            </li>
                            <li class="active">Liste des medecins</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-line">
                            <!-- <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab1" data-toggle="tab"> List View </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab"> Grid View </a>
                                </li>
                            </ul> -->
                            <ul class="nav customtab nav-tabs" role="tablist">
                                <li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">Liste
                                    </a></li>
                                <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Grille
                                    </a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active fontawesome-demo" id="tab1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card card-topline-red">
                                                <div class="card-head">
                                                    <header></header>

                                                </div>
                                                <div class="card-body ">
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                                            <div class="btn-group">
                                                                <a href="{{ path('labo_medecin_add') }}" id="addRow"
                                                                   class="btn btn-info">
                                                                    Ajouter <i class="fa fa-plus"></i>
                                                                </a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="table-scrollable">
                                                        <table
                                                                class="table table-hover table-checkable order-column full-width"
                                                                id="example4">
                                                            <thead>
                                                            <tr>
                                                                <th></th>




                                                                <th>Nom Prenom</th>
                                                                <th>Specialite</th>
                                                                <th>Email</th>

                                                                <th>Adresse</th>
                                                                <th>Tel</th>





                                                                <th>actions</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for medecin in medecins %}
                                                                <tr>

                                                                    <td class="patient-img">
                                                                        <img src="/uploads/{{medecin.user.photoName}} " alt="{{medecin.user.photoName}}">
                                                                    </td>

                                                                    <td>{{ medecin.user.nom }}</td>
                                                                    <td>{{ medecin.specialite }}</td>
                                                                    <td>{{ medecin.user.email }}</td>
                                                                    <td>{{ medecin.user.adresse }}</td>
                                                                    <td>{{ medecin.user.tel }}</td>









                                                                    <td>
                                                                        <a href="edit_doctor.html"
                                                                           class="btn btn-primary btn-xs">
                                                                            <i class="fa fa-pencil"></i>
                                                                        </a>
                                                                        <button class="btn btn-danger btn-xs">
                                                                            <i class="fa fa-trash-o "></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">

                                      <div class="row">
                                          {% for medecin in medecins %}
                                              <div class="col-md-4">
                                                  <div class="card card-topline-aqua">
                                                      <div class="card-body no-padding ">
                                                          <div class="doctor-profile">
                                                              <img src="/uploads/{{medecin.user.photoName}}" class="doctor-pic" alt="{{medecin.user.photoName}}">
                                                              <div class="profile-usertitle">
                                                                  <div class="doctor-name">{{ medecin.user.nom }} {{ medecin.user.prenom }} </div>
                                                                  <div class="name-center">{{ medecin.user.email }} </div>
                                                              </div>
                                                              <p>{{ medecin.user.adresse }}</p>
                                                              <div>
                                                                  <p><i class="fa fa-phone"></i> {{ medecin.user.tel }}</p>
                                                              </div>
                                                              <div class="profile-userbuttons">
                                                                  <a href="{{ path('app_medecin_inviter', {'idMedecin':medecin.user.id, 'idLabo':laboInfo.id}) }}"
                                                                     class="btn btn-circle deepPink-bgcolor btn-sm">Inviter
                                                                      </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          {% endfor %}
                                      </div>
                                      <p>Liste des medecins invités</p>
                                       <div class="row">
                                          {% for medecin in invitation %}
                                              <div class="col-md-4">
                                                  <div class="card card-topline-aqua">
                                                      <div class="card-body no-padding ">
                                                          <div class="doctor-profile">
                                                              <img src="/uploads/{{medecin.user.photoName}}" class="doctor-pic" alt="{{medecin.user.photoName}}">
                                                              <div class="profile-usertitle">
                                                                  <div class="doctor-name">{{ medecin.user.nom }} {{ medecin.user.prenom }} </div>
                                                                  <div class="name-center">{{ medecin.user.email }} </div>
                                                              </div>
                                                              <p>{{ medecin.user.adresse }}</p>
                                                              <div>
                                                                  <p><i class="fa fa-phone"></i> {{ medecin.user.tel }}</p>
                                                              </div>
                                                              <div class="profile-userbuttons">
                                                                  <a href="{{ path('app_labo_annuler', {'idMedecin':medecin.user.id, 'idLabo':laboInfo.id}) }}"
                                                                     class="btn btn-circle deepPink-bgcolor btn-sm">Annuler
                                                                      </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          {% endfor %}
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

 {% block javascripts %}
     <!-- data tables -->
     <script src="{{ asset('assets/bundles/datatables/jquery.dataTables.min.js') }}"></script>
     <script src="{{ asset('assets/bundles/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js')}}"></script>
     <script src="{{ asset('assets/data/table-data.js')}}"></script>


 {% endblock %}