<!DOCTYPE html>
<html>
<head>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta name="description" content="Responsive Admin Template"/>
    <meta name="author" content="RedstarHospital"/>

    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet"
          type="text/css"/>
    <!-- icons -->
    <link href="{{ asset('assets/bundles/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--bootstrap -->
    <link href="{{ asset('assets/bundles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="{{ asset('assets/bundles/material/material.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/material_style.css') }}">
    <!-- Theme Styles -->
    <link href="{{ asset('assets/css/theme_style.css') }}" rel="stylesheet" id="rt_style_components" type="text/css"/>
    <link href="{{ asset('assets/css/plugins.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/theme-color.css') }}" rel="stylesheet" type="text/css"/>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}"/>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
    <div class="page-wrapper">

        {% if is_granted('ROLE_DELEGUE') %}
            {% include ('include/header_delegue.html.twig') %}
        {% elseif is_granted('ROLE_LABO') %}
            {% include ('include/header_labo.html.twig') %}
        {% elseif is_granted('ROLE_MEDECIN') %}
            {% include ('include/header_medecins.html.twig') %}
        {% elseif is_granted('ROLE_ADMIN') %}
            {% include ('include/header_admin.html.twig') %}
        {% endif %}
        {% include ('include/Sidebar.html.twig') %}
        {% block body %}{% endblock %}
        {% include ('include/footer.html.twig') %}

    </div>

</div>


{% block javascripts %}{% endblock %}

<!-- start js include path -->
<script src="{{ asset('assets/bundles/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/bundles/popper/popper.js') }}"></script>
<script src="{{ asset('assets/bundles/jquery-blockUI/jquery.blockui.min.js') }}"></script>
<script src="{{ asset('assets/bundles/jquery.slimscroll/jquery.slimscroll.js') }}"></script>
<!-- bootstrap -->
<script src="{{ asset('assets/bundles/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/bundles/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
<!-- data tables -->
<script src="{{ asset('assets/bundles/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/bundles/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('assets/data/table-data.js') }}"></script><!-- Common js-->
<script src="{{ asset('assets/app.js') }}"></script>
<script src="{{ asset('assets/layout.js') }}"></script>
<script src="{{ asset('assets/theme-color.js') }}"></script>
<!-- material -->
<script src="{{ asset('assets/bundles/material/material.min.js') }}"></script>
<!-- chart js -->
<script src="{{ asset('assets/bundles/chart-js/Chart.bundle.js') }}"></script>
<script src="{{ asset('assets/bundles/chart-js/utils.js') }}"></script>
<script src="{{ asset('assets/data/home1-chartjs-data.js') }}"></script>
<!-- end js include path -->
</body>
</html>
